---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <div class="page">

        <header class="page-header">
          <h3 class="page-title"><a href="{{page.url|prepend: site.baseurl}}">{{ page.title }}</a></h3>
          <div class="post-metadata">
            <div> <i class="fa fa-calendar"></i>
              <time>
                {{ page.datesavailable }}
              </time>
            </div>
            <div> <i class="fa fa-tag"></i>
                {% for tag in page.tags %}
                  <span class="label label-tag"><a href="{{site.url}}/tag/{{tag}}">{{tag}}</a></span>
                {% endfor %}
            </div>
          </div>

        </header>

        <article class="page-content">
          <div class="row">
            <h3>Description</h3>
            <div class="col-xs-12">
              {{ content }}
            </div>
          </div>
        </article>

        {% for section in page.amenities %}
          <div class="row">
            <article class="page-content">
              <h3>{{ section.first }}</h3>
              {% for part in section[1] %}
                <div class="col-xs-4 col-sm-3">
                  {% if part[1] == null %}<i class="fa fa-check-square"></i>{% else %}<i class="fa {{ part[1] }}"></i>{% endif %} {{ part[0] }}
                </div>
              {% endfor %}
            </article>
          </div>
        {% endfor %}

        <div class="row">
          <article class="page-content">
            <h3>Photos</h3>
                  {% for photo in page.photos %}
                    <div class="col-xs-4 col-sm-3 imgcontainer">
                      <img src="{{ photo }}" alt="{{ page.title }}" /></br></br>
                    </div>
                  {% endfor %}
          </article>
        </div>

      </div>
    </div>
  </div>
</div>
